*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,103,9,0.8211659663865546) 43%, rgba(0,212,255,1) 100%);
}

.nice{
    display: flex;
    justify-content: center;
    align-items: center;
}

.para{
    margin-top: 10%;
    font-size: 23px;   
    
}

.divDisplay{
    display: flex;
    margin-top: 5%;
}

input{
    font-size: 18px;
    width: 400px;
    height: 40px;
    border: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#myButton{ 
    font-size: 18px;
    width: 40px;
    height: 40px;
    border: none;
    padding: 5px;
    background-color: rgb(0, 221, 255);
    border-radius: 0 5px 5px 0;
}

.result{
    font-size: 15px;
}

.mybutton {
    background-color: rgb(54, 201, 22);
    margin-left: 12px;
    padding: 5px 10px;
    margin-top: 5px;
    border: none;
}

.mybutton a{
    text-decoration: none;

}